<nb-card class="bg-light">
    <nb-card-header>
        Users
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" style="float:right" (click)="registerUser()">
                    Add User
                </button>

            </div>
            <div class="col-12 mt-2">
                <dx-data-grid id="gridContainer" [dataSource]="users" keyExpr="id" [allowColumnReordering]="true"
                    [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true">
                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                    <dxi-column dataField="userName"></dxi-column>
                    <dxi-column dataField="email"></dxi-column>
                    <dxi-column dataField="roles"></dxi-column>
                    <dxi-column dataField="id" caption="" cellTemplate="cellTemplate"></dxi-column>

                    <div *dxTemplate="let data of 'cellTemplate'">
                        <button type="button" class="btn btn-warning btn-sm"
                            (click)="delete(data.value)">Delete</button>


                        <button class="btn btn-info btn-sm ml-2" title="Editar" [routerLink]="['/pages/users/update/',data.value]">
                            Edit
                        </button>

                        <!-- <button type="button" class="btn btn-info btn-sm" (click)="update(data.value)">Update</button> -->
                    </div>

                </dx-data-grid>
            </div>
        </div>

    </nb-card-body>
</nb-card>