<div class="col-md-12">
    <div class="card card-container offset-4 col-md-4">
        <br>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
                <label for="MainCategory">Main</label>
                <input type="checkbox" name="mainCategory" id="MainCategory" [(ngModel)]="menuCategory.mainCategory">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="menuCategory.description" required
                #description="ngModel" />
                <div class="alert alert-danger" role="alert" *ngIf="description.errors && f.submitted">
                    description is required!
                </div>
            </div>

            <div class="form-group" *ngIf="menuCategory.mainCategory != true">
                <label for="Parent">Parent</label>
                <select name="Parent" class='form-control' [(ngModel)]="menuCategory.parentCategoryId" required
                    #Parent="ngModel">
                    <option *ngFor="let menu of menuCategories" [value]="menu.id">{{menu.description}}</option>
                </select>
            </div>

            <div class="form-group"  *ngIf="menuCategory.mainCategory">
                <label for="lastName">Role</label>
                <select name="role" class='form-control' [(ngModel)]="menuCategory.role" required #role="ngModel">
                    <option value='User'>User</option>
                    <option value='Public'>Public</option>
                </select>

                <div class="alert alert-danger" role="alert" *ngIf="role.errors && f.submitted">
                    role is required!
                </div>
            </div>

            <div class="form-group offset-7 col-6">
                <button type="button" class="btn btn-secondary pull-right" (click)="cancel()">
                    Cancel
                </button>

                <button class="btn btn-primary ml-2">
                    Save
                </button>
            </div>

        </form>

    </div>
</div>